.job-listings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the column width as needed */
    gap: 70px; /* Adjust the gap between items */
  }
  
  .job-card {
    background-color: #fbf0d3; /* Background color for each job card */
    border-radius: 10px; /* Add rounded corners to job cards */
    padding: 20px; /* Add padding around job cards */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    height:50vh;
  }
  
  .job-card:hover {
    transform: translateY(-5px); /* Add a slight lift effect on hover */
  }
  
  .job-image {
    width: 100%; /* Ensure the image fills the container */
    border-radius: 10px; /* Rounded corners for images */
  }
  
  .job-card-content {
    padding-top: 50px; 
    align-items: center;
    justify-content: center;
    text-align: center;/* Add some space between image and content */
  }
  
  .apply-button {
    background-color:rgb(255, 255, 255);
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .apply-button:hover {
    background-color: transparent;
  }